html {
    background-color: #D5D5D5;
  
  }
  header {
    background-color: #0A1612;
  }
  
  header {
    background-color: #0A1612;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    height: 4em;
  }
  
  .logo {
    font-size: 4em;
    font-family: monospace;
    margin: auto;
  }
  

  
  body {
   margin: 0;
   padding: 0;
  }

  .search-bar {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
  }

