html {
  background-color: #D5D5D5;

}
header {
  background-color: #0A1612;
}

header {
  background-color: #0A1612;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFFFFF;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 2.5em;
  font-family: monospace;
  margin-left: 0.5em;
}

.navButtons li {
  float: left;
}

.navButtons ul {
  list-style-type: none;
  overflow: hidden;
  margin-left: 39em;
}

.navButtons a {
  text-align: center;
  display: block;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 1.5em;
}

.navButtons a:hover {
  color: #6ec7ff;
}

body {
  background-color: #000000;
}